# RS232 Configuration
NET rxd       LOC="AG15";  # Bank 4, Vcco=3.3V, No DCI (rxd)
NET txd       LOC="AG20";  # Bank 4, Vcco=3.3V, No DCI (txd)

# Switch Configuration
NET rst       LOC="U25";   # Bank 15, Vcco=1.8V, DCI using 49.9 ohm resistors
NET br_cfg<0> LOC="AC25";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
NET br_cfg<1> LOC="AC24";  # Bank 21, Vcco=1.8V, DCI using 49.9 ohm resistors
#NET button    LOC="AJ6";   # Bank 18, Vcco=3.3V, No DCI
# Clock Configuration
NET clk       LOC="AH15";  # Bank 4, Vcco=3.3V, No DCI